<html>
<head>
	<meta charset="utf-8">
	<title>TRIAMO</title>
	<meta name="A Home Automation App" content="">
	<meta name="author" content="Ausaaf Nabi">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="assets/stylesheets/bootstrap.css" >
	<link rel="stylesheet" href="assets/stylesheets/bootstrap-responsive.css" >
	<link rel="stylesheet" href="assets/stylesheets/custom.css">
	<link rel="stylesheet" href="assets/stylesheets/boottrimin.css" >
	<link rel="stylesheet" href="assets/stylesheets/bootstrap-responsive.min.css" >

</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class ="static"><a href="index.html" class="brand">TRIAMO</a></div>
				  
				

				<a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
			</div>
		</div>
	</div> <!-- end navbar -->
    <section>
		<div class="fixed">
			<div class="row column">
				<div class="span4">

					<h2>DASHBOARD</h2>
					<input type="hidden" name ="MAX_FILE_SIZE" value="6000">
					&nbsp;<p class ="new">The Light Should Now Be OFF </p>
				</div>
			</div>
			
			<hr />
  
			<hr />
			
			<a href="http://localhost:3000/lights/lion" class=" btn btn-success " style="float:right; margin-top: 10;">Lights On</a>		
			<p style="height: 3px;width:68px; color:#74c3f3">Lights On</p>
	

			<hr />
  

			<hr />
  

			<hr />
  

			<hr />
  

			<hr />
  

			<hr />
  

			<hr />
  
	</div> <!-- end container -->		
  </section>
 </body>
</html>